@model HospitalSystem_Corona.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.building_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.building_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartment_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile_phone)
        </dd>
       

        @*<dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.image)
        </dd>*@



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.patient_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
