@model HospitalSystem_Corona.Models.Vaccination

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vaccination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vaccination_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vaccination_date)
        </dd>


        <dt>

            @Html.DisplayNameFor(model => model.Manufacturer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.first_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.id_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.id_number)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "GetVaccinationsById", new { id = Model.patient_id })
</div>
    }
</div>
